extends layout
block content
  div.form-style-1
    h2 Contact information
    fieldset
      ul
        li
          |Hugo W.L. ter Doest
        li
          a(href="mailto:hwl.ter.doest@gmail.com")
            |hwl.ter.doest@gmail.com
        li
          Github: a(href="https://github.com/Hugo-ter-Doest")
            |https://github.com/Hugo-ter-Doest