extends layout

block content
    div.form-style-1
      form(method="post", action="/submit_settings", enctype="multipart/form-data")
        h2 Tokenizer settings
        fieldset
          ul
            li
              label(for="tokenizerAlgorithm") Tokenizer algorithm
            li
              select.formstyle-1(id="tokenizerAlgorithm", name="tokenizerAlgorithm")
                option(value="noChoice") Choose an algorithm
                option(value="wordTokenizer") Word tokenizer
                option(value="treebankWordTokenizer") Treebank word tokenizer
                option(value="regexpTokenizer") Regular expression tokenizer
                option(value="wordPunctTokenizer") Word punctuation tokenizer
            li
              label(for="regularExpression") Regular expression:
            li
              input(type="text", id="regularExpression", name="regularExpression")
        br
        h2 Type lattice settings
        fieldset
          ul
            li
              label(for="currentTypeLatticeFile") Current file:
            li
              if settings.typeLatticeFile
                input(type="text", id="currentTypeLatticeFile", value="#{settings.typeLatticeFile}", readonly)
              else
                input(type="text", id="currentTypeLatticeFile", value="no file selected", readonly)
            li
              label(for="typeLatticeFile") Select file:
            li
              input(type="file", id="typeLatticeFile", name="typeLatticeFile")
              input(type='submit', name='submit_settings', value='Edit type lattice')
            li
              label
                input(type="checkbox", name="applyAppropriateFunction", checked=settings.applyAppropriateFunction)
                = " Apply appropriate function"
        br
        h2 Tagger settings
        fieldset
          ul
            li
              label(for="currentLexiconFile") Current file:
            li
              if settings.lexiconFile
                input(type="text", id="currentLexiconFile", value="#{settings.lexiconFile}", readonly)
              else
                input(type="text", id="currentLexiconFile", value="no file selected", readonly)
            li
              label(for="lexiconFile") Select file:
            li
              input(type="file", id="lexiconFile", name="lexiconFile")
              input(type='submit', name='submit_settings', value='Edit lexicon')
            li
              label
                input(type="checkbox", name="applyUnification", value="Apply unification")
                = " Strip words that could not be tagged"
        br
        h2 Parser settings
        fieldset
          ul
            li
              label(for="currentGrammarFile") Current file:
            li
              if settings.grammarFile
                input(type="text", id="currentGrammarFile", value="#{settings.grammarFile}", readonly)
              else
                input(type="text", id="currentGrammarFile", value="no file selected", readonly)
            li
              label(for="grammarFile") Select file:
            li
              input(type="file", id="grammarFile", name="grammarFile")
              input(type='submit', name='submit_settings', value='Edit grammar')
            li
              label(for="parsingAlgorithm") Parsing algorithm
            li
              select(id="parsingAlgorithm", name="parsingAlgorithm")
                option(value="noChoice") Choose an algorithm
                option(value="CYK") Cocke Younger Kasami
                option(value="Earley") Earley
                option(value="LeftCorner") Left-Corner
                option(value="HeadCorner") Head-Corner
            li
              label(for="applyUnification")
                input(type="checkbox", id="applyUnification", name="applyUnification", value="Apply unification")
                = " Apply unification"
        br
        input(type='submit', name='submit_settings', value='Save')
        input(type='submit', name='submit_settings', value='Cancel')
