extends layout

block content
    div.form-style-1
        form( method="post", action="/save_settings")
          h2 Files loaded
          fieldset
            ul
              li
                label Type lattice
              li
                input(type="text", value="filename")
              li
                label
                  input(type="checkbox", name="hasAppropriateFunction", value="hasAppropriateFunction", onclick="return false")
                  = " Type lattice has appropriate function"
              li
                label Lexicon
              li
                input(type="text", value="filename")
              li
                label
                  input(type="checkbox", name="hasFeatureStructures", value="hasFeatureStructures", onclick="return false")
                  = " Lexicon assigns feature structures"
              li
                label Grammar
              li
                input(type="text", value="filename")
              li
                label
                  input(type="checkbox", name="isCNF", value="isCNF", onclick="return false")
                  = " Grammar is in Chomsky Normal Form"
              li
                label
                  input(type="checkbox", name="hasConstraints", value="hasConstraints", onclick="return false")
                  = " Grammar has unification constraints"
          h2 Parse sentence
          fieldset
            ul
              li
                label Input sentence:
                input(type="text", name="input_sentence", width="300px")
              li
                select(id="parsingAlgorithm", name="parsingAlgorithm")
                  option(value="noChoise") Choose an algorithm
                  option(value="CYK") CYK
                  option(value="Earley") Earley
                  option(value="LeftCorner") Left-Corner
                  option(value="HeadCorner") Head-Corner
              li
                label
                  input(type="checkbox", name="applyAppropriateFunction", value="Apply appropriate function")
                  = " Apply appropriate function"
              li
                label
                  input(type="checkbox", name="applyUnification", value="Apply unification")
                  = " Strip words that could not be tagged"
              li
                label
                  input(type="checkbox", name="applyUnification", value="Apply unification")
                  = " Apply unification"
        br
        input(type='submit', name='Parse', value='Parse')
