extends layout
block content
  div.form-style-1
    form(method="post")
      h2 Load settings
      fieldset
        label(for="settingsFile") Settings file
        input(type="file", name="settingsFile", value=settings.settingsFile)
      br
      input(type='submit', name='uploadSettings', value='Upload settings', formaction="/upload_settings",
      formenctype="multipart/form-data")