.form-style-1 {
    margin:10px auto;
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label{
    margin:10px 0 5px 5px;
    padding:0px;
    display:block;
    font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
.form-style-1 input[type=file],
.form-style-1 input[type=checkbox],
.form-style-1 input[type=submit],
.form-style-1 textarea,
.form-style-1 select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin-left:3px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 input[type=file]:focus,
.form-style-1 input[type=checkbox]:focus
.form-style-1 input[type=submit]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

.form-style-1 #editor { 
    position: absolute;
    width: 600px;
    height: 700px;
}

/*
 * @CSS3 Tabstrip
 * @author Martin Ivanov
 * @website http://wemakesites.net
 * @blog http://acidmartin.wordpress.com/
 * @twitter https://twitter.com/wemakesitesnet
 **/
 
/*
 * Width should be set to the outermost element
 * if you have multiple tabstrips on a single page
 * you can set dimensions using for example additional class names
 * or IDs. In this case, I am applying width and height to the 
 * base CSS class.
 **/
.css3-tabstrip
{
    width: 100%;
    height: 500px;
    
}    
 
.css3-tabstrip ul,
.css3-tabstrip li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.css3-tabstrip,
.css3-tabstrip input[type="radio"]:checked + label
{
    position: relative;
}
 
.css3-tabstrip li,
.css3-tabstrip input[type="radio"] + label
{
    display: inline-block;
}
 
.css3-tabstrip li > div,
.css3-tabstrip input[type="radio"]
{
    position: absolute;
}
 
.css3-tabstrip li > div,
.css3-tabstrip input[type="radio"] + label
{
    border: solid 1px #ccc;
}
 
.css3-tabstrip
{
    // font: normal 11px Arial, Sans-serif;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #404040;
}
 
.css3-tabstrip li
{
    vertical-align: top;
}
 
.css3-tabstrip li:first-child
{
    margin-left: 8px;
}
 
.css3-tabstrip li > div
{
    top: 33px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    overflow: auto;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
.css3-tabstrip input[type="radio"] + label
{
    margin: 0 2px 0 0;
    padding: 0 18px;
    line-height: 32px;
    background: #f1f1f1;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
 
.css3-tabstrip input[type="radio"]:checked + label
{
    z-index: 1;
    background: #fff;
    border-bottom-color: #fff;
    cursor: default;
}
 
.css3-tabstrip input[type="radio"]
{
    opacity: 0;
}
 
.css3-tabstrip input[type="radio"] ~ div
{
    display: none;
}
 
.css3-tabstrip input[type="radio"]:checked:not(:disabled) ~ div
{
    display: block;
}
 
.css3-tabstrip input[type="radio"]:disabled + label
{
    opacity: .5;
    cursor: no-drop;
}